{% extends "partials/base.njk" %}

{% block title %}Nosotros{% endblock %}

{% set view_name = 'aboutus' %}

{% block content %}
<section class="aboutus">
  <section class="aboutus-intro">
    <h1 class="aboutus-intro-title bebasneue-bold">{{es.aboutus.title}}</h1>
    <div class="aboutus-intro-content">
      <img class="aboutus-intro-img" src="{{es.aboutus.intro.img}}">
      <div class="aboutus-info">
        <div class="aboutus-info-headers">
          <h3 class="aboutus-info-subtitle helveneue-medium">{{es.aboutus.intro.subtitle}}</h3>
          <h2 class="aboutus-info-title bebasneue-bold">{{es.aboutus.intro.title}}</h2>
        </div>
        <div class="aboutus-info-body">
          <p class="aboutus-info-desc helveneue">{{es.aboutus.intro.descOne}}<br><br>{{es.aboutus.intro.descTwo}}</p>
          <a href="{{es.aboutus.intro.btnLink}}">
            <button class="btn helveneue-medium">{{es.aboutus.intro.btn}}</button>
          </a>
        </div>
      </div>
    </div>
    <div class="aboutus-intro-content" style="flex-direction: column;">
      <div class="aboutus-info-headers" style="margin-bottom: 10px; padding: 0;">
        <h2 class="aboutus-info-title bebasneue-bold">Visitanos Aqui</h2>
      </div>
      <div class="embed-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.47381872163!2d-99.19111788570797!3d19.435127886882885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f8aa149c62f7%3A0x8174d0a8f17f2f49!2sEmerson%20209%2C%20Polanco%2C%20Polanco%20V%20Secc%2C%20Miguel%20Hidalgo%2C%2011560%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1575516267710!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
    </div>
  </section>
</section>
<div class="backgrounds-aboutus"></div>
{% endblock %}
