{% extends "partials/base-en.njk" %}

{% block title %}Partners{% endblock %}

{% set view_name = 'partners' %}

{% block content %}
<section class="socios">
  <section class="socios-intro">
    <h1 class="socios-intro-title bebasneue-bold">Partners</h1>
    <div class="socios-intro-content">
      <div class="socios-info">
        <div class="socios-info-headers">
          <h3 class="socios-info-subtitle helveneue-medium">Lawyer</h3>
          <h2 class="socios-info-title bebasneue-bold">LUIS MIGUEL CAMPOS GUZMÁN</h2>
        </div>
        <div class="socios-info-body">
          <ul>
            <li>Partner of Campos, Campos & Uribe.</li>
            <li>He has a Law Degree from Universidad Nacional Autónoma de México (UNAM), obtaining Honorable Mention with the theme “The crime of money laundering, an exceptional criminal regime” in 2013.</li>
            <li>Specialization in Law in Organized Crime, Corruption and Terrorism by the University of Salamanca, Spain.</li>
            <li>Specialty in Amparo Law from the Universidad Panamericana.</li>
            <li>Specialization in Accusatory Criminal System by the Escuela Libre de Derecho.</li>
            <li>Master in Criminal Law by the Instituto de Estudios Superiores en Derecho Penal.</li>
            <li>Master in Compliance Officer from the Complutense University of Madrid.</li>
            <li>Certification on Oral Criminal Litigation and North American Accusatory System by the Latin American Bar Association.</li>
            <li>He is a Founding Partner of the Instituto Nacional de Derecho.</li>
            <li>Course of Analysis of the National Code of Criminal Procedures by the Instituto Nacional de Ciencias Penales.</li>
            <li>Money Laundering and Terrorist Financing Course by the Instituto Nacional de Ciencias Penales.</li>
            <li>He is an active member of the Associations: Latin American Bar Association, Barra Mexicana de Abogados and Asociación Nacional de Abogados de Empresa.</li>
            <li>He was a member of the Editorial Board of the Justice Section of the Reforma Newspaper in 2015.</li>
          </ul>
        </div>
      </div>
      <div class="socios-info">
        <div class="socios-info-headers">
          <h3 class="socios-info-subtitle helveneue-medium">Lawyer</h3>
          <h2 class="socios-info-title bebasneue-bold">JORGE ARTURO URIBE LITVAK</h2>
        </div>
        <div class="socios-info-body">
          <ul>
            <li>Founding partner of Campos, Campos & Uribe.</li>
            <li>He has a Law Degree from the Universidad Iberoamericana, qualifying in 2012.</li>
            <li>He worked at Bufete Aguilar and Quevedo from 2010 to 2019.</li>
            <li>He made the "Workshop of Oral Trials" taught by the Instituto Nacional de Ciencias Penales, in 2013.</li>
            <li>He conducted the course called "Analysis of the National Code of Criminal Procedures" taught by the Instituto Nacional de Ciencias Penales, in 2014.</li>
            <li>He is a member of the Association Barra Mexicana de Abogados.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</section>
<div class="backgrounds-socios"></div>
{% endblock %}
